<!DOCTYPE html>
<html lang="en">
<head>

    <!-- add aesthetics to song.html with css -->
     <style>
        body {background-color: powderblue;
        }
        p, h5, h1 {color:#0056b3;
        line-height: 1.5;
        text-align: center}
    </style>

    <!-- website title -->
    <h1>BILLBOARD SONG SEARCH<br></h1>

</head>

<body>
        <!-- check if user wants to see all artist entries on charts -->
        {% if artist_option == '1' %}
        <h5>{% print(song_artist + '\'s songs: ') %}</h5>
            {% for row in charts %}
                <!-- check if user input artist is in row of charts -->
                {% if song_artist == row[3] %}
                    <p>{% print('\'' + row[2] + '\'' + ' ranked ' + row[1] + ' on the Billboard Charts on ' + row[0] + '.') %}</p>
                {% endif %}
            {% endfor %}

        <!-- check if user just wants to see unique artist entries on charts -->
        {% elif artist_option == '2' %}
            <!-- initiate dictionary to hold unique songs -->
            {% set song_dict = {} %}
            {% for row in charts %}
                {% if song_artist == row[3] %}
                    <!-- if song in row already exists in song_dict, append its rank and date to the key's tuple of lists -->
                    {% if row[2] in song_dict.keys() %}
                        {% do song_dict[row[2]][0].append(row[1]) %}
                        {% do song_dict[row[2]][1].append(row[0]) %}
                    {% else %}
                        <!-- if song doesn't already exist in song_dict, add it as a key and append its rank and date as a tuple of lists -->
                        {% set song_dict=song_dict.__setitem__(row[2], ([row[1]],[row[0]])) %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            <h5>{% print(song_artist + '\'s songs: ') %}</h5>
            <!-- loop through songs in song_dict -->
            {% for key in song_dict %}
                <!-- initiate list of ranks -->
                {% set ranks = [] %}
                <!-- initiate list of indices for list of ranks -->
                {% set indices = [] %}

                <!-- loop through song_dict keys' ranks -->
                {% for rank in song_dict[key][0] %}
                    {% do ranks.append(rank) %}
                    {% do indices.append(loop.index) %}
                {% endfor %}

                <!-- get top rank for the song -->
                {% set top_rank = ranks | min %}
                <!-- get the index of the top rank in ranks list -->
                {% set top_date_index = ranks.index(ranks | min) %}
                <!-- create tuple for top rank and that rank's date -->
                {% set (top_rank, rank_date) = (top_rank, song_dict[key][1][top_date_index]) %}

                <!-- print all artist's top ranking unique songs -->
                <p>{% print('\'' + key + '\'' + ' ranked #' + top_rank + ' on the Billboard Charts on ' + rank_date + '.') %}</p>
            {% endfor %}
        {% else %}
            <h5>{% print('Sorry, we didn\'t understand that. Please try again.') %} </h5>
        {% endif %}

    </body>
</html>