<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% set partial_title = song_name.lower().split(' ') %}
        {% set song_list = [] %}
        {% set vars = {'found_partial_song': False} %}
            {% for row in charts %}
                {% set song_title = row[2].lower().split(' ')%}
                {% for word in partial_title %}
                    {% if word in song_title %}
                        {% set vars = {'check': True} %}
                    {% else %}
                        {% if vars.update({'check': False}) %}
                        {% endif %}
                    {% endif %}
                    {% if vars.update({'check': True}) %}
                        {{ song_list.append(row[2]) }}
                        {% if vars.update({'found_partial_song': True}) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
</head>
<body>

</body>
</html>