<!doctype html>
<html>
<head>

    <!-- add aesthetics to song.html with css -->
    <style>
        body {background-color: powderblue;
        }
        p, h5, h1 {color:#0056b3;
        line-height: 1.2;
        text-align: center}
        form {
            text-align: center
        }
    </style>

    <!-- website title -->
    <h1>BILLBOARD SONG SEARCH<br></h1>

</head>

<body>
   <!-- song search -->
       {% set vars = {'found_naive_song': False} %}
       <!-- check if user chose song search -->
       {% if search_option == '1' %}
            {% for row in charts %}
                <!-- check if user input song is in row of charts -->
                {% if song_artist == row[2] %}
                <h5> {% print('On ' + row[0] + ' ' + song_artist + ' by ' + row[3] + ' ranked at #' + row[1] +
                        ' on the Billboard Hot 100 Chart.') %} </h5>
                    {% if vars.update({'found_naive_song': True}) %}
                    {% endif %}
                {% endif %}
            {% endfor %}

           {% if not vars.found_naive_song %}
                <h5> {% print('Sorry, we couldn\'t find your song.') %}</h5>
            {% endif %}
        {% endif %}


   <!-- artist search -->
        {% set artist = {'found_naive_artist': False} %}
       <!-- check if user chose artist search -->
       {% if search_option == '2' %}
            {% for row in charts %}
                <!-- check if user input artist is in row of charts -->
                {% if song_artist == row[3] %}
                    {% if artist.update({'found_naive_artist': True}) %}
                    {% endif %}
                {% endif %}
            {% endfor %}

           {% if not artist.found_naive_artist %}
                <h5> {% print('Sorry, we couldn\'t find your artist.') %}</h5>
           <!-- if artist found in charts, ask for user preference -->
           {% else %}
                <h5> Do you want to see <br>1. all of this artist's song rankings or <br>
                                 2. just the highest rankings for each unique song? <br>Type 1 or 2: </h5>

               <!-- create dropdown for user to choose and store user selection -->
               <form action = "/artist/" method = "post">
                    <select name = "artist_options" method = "GET" action = "/">
                        <option value = "{{ artist_options[0] }}" selected>pick one</option>
                        <option value = "{{ artist_options[1] }}" >1</option>
                        <option value = "{{ artist_options[2] }}" >2</option>
                    </select>

                    <!-- button that routes to artist.html when clicked -->
                    <p align="center"><a href="~/artist.html" ><button class=grey style="height:50px;width:100px" >Go!</button></a></p>
               </form>
           {% endif %}
       {% endif %}


   <!-- date search -->
        {% if date_input != None %}
            {% set date = {'found_date': False} %}
                {% for row in charts %}
                    <!-- check if user input date is in row in charts -->
                    {% if date_input == row[0] %}
                        {% if date.update({'found_date': True}) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

        {% if not date.found_date %}
            <h5>{% print('Sorry, we couldn\'t find the chart for the date you inputted. '
                  'You have access to weekly Billboard charts starting from January 6th, 1962, to April 10th, 2021. '
                  'Please try again.') %}</h5>
        {% else %}
            {% if rank_search != '0' %}
                {% set rank = {'found_rank': False} %}
                {% for row in charts %}
                    <!-- check for user input rank in row in charts -->
                    {% if date_input == row[0] %}
                        {% if row[1] == rank_search %}
                            <h5>{% print(row[2] + ' by ' + row[3] + ' was ranked #' + rank_search + '.') %}</h5>
                            {% if rank.update({'found_rank': True}) %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if not rank.found_rank %}
                    <h5>{% print('Sorry, we didn\'t understand that. Please try again.') %}</h5>
                {% endif %}

            {% elif rank_search == '0' %}
                {% for row in charts %}
                    {% if date_input == row[0] %}
                        <!-- print every row in chart at user input date -->
                        <p>{% print(row[2] + ' by ' + row[3] + ' was ranked #' + row[1] + '.') %}</p><br>
                    {% endif %}
                {% endfor %}

            {% else %}
                <h5>Sorry, didn't recognize that. Please try again.</h5>
            {% endif %}
        {% endif %}
        {% endif %}

   </body>
</html>